<div class="backg">
    <div class="content-container">
      <div class="new-card">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
      <div class="info-cards">
        <div class="card">
          <i class="icon-gw"></i>
          <span class="counter" data-controller="counter"
                data-counter-end-value="<%= @current_gw + 1 %>"
                data-counter-duration-value="2000"
                data-counter-target="display">
                0</span>
          <span>Game Week</span>
        </div>
        <div class="card">
          <span class="counter" data-controller="counter"
                data-counter-end-value="<%= @rating %>"
                data-counter-duration-value="3000"
                data-counter-target="display">
                0</span>
          <span>Team Rating</span>
        </div>
        <div class="card">
          <span class="counter" data-controller="counter">
            <%= @bank %>
          </span>
          <span>Bank</span>
        </div>
        <div class="card">
          <span class="counter" data-controller="counter"
                data-counter-end-value="<%= @weekly_ranks.last %>"
                data-counter-duration-value="3000"
                data-counter-target="display">
                0</span>
          <span>Overall Ranking</span>
        </div>
        <div class="card">
          <span class="counter" data-controller="counter"
                data-counter-end-value="<%= @percentile %>"
                data-counter-duration-value="3000"
                data-counter-target="display">
                0</span>
          <span>Overall Percentile</span>
        </div>
        <div class="card">
          <span class="counter" data-controller="counter"
                data-counter-end-value="<%= @personal_api["leagues"]["classic"].last["entry_rank"] %>"
                data-counter-duration-value="3000"
                data-counter-target="display">
                0</span>
          <span><%= @personal_api["leagues"]["classic"].last["name"] %> Ranking</span>
        </div>
      </div>
      <div class="move-right">
        <button class="sandw strength" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Strengths
          <span class="button-text">Here are your point winners!</span>
        </button>
        <button class="sandw weakness" data-bs-toggle="modal" data-bs-target="#exampleModalWeak">
          Weaknesses
          <span class="button-text">You need to move some players on!</span>
        </button>
      </div>
      <div class="suggestions">
          <button class="default-button">→</button>
      </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= render "caro", user: @user %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalWeak" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= render "caroweak", user: @user %>
      </div>
    </div>
  </div>
</div>

<div class="graphs">
  <%= line_chart @graph_data, xtitle: "Gameweek", ytitle: "Overall Rank", thousands: ","%>
</div>
