<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="navbar-brand">
      <div class="d-flex align-items-baseline">
        <h3 class="custom-titles">FPLBOT</h3>
        <%# <h4 class="ms-2 mb-0">BOT</h4> %>
      </div>
    </div>

    <%= link_to "#", class: "navbar-brand" do %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "", root_path, class: "nav-link" %>
        </li>
        <% if current_user %>
          <% if current_user.admin %>
            <li class="nav-item">
              <%= link_to "Admin", sidekiq_web_path, class: "nav-link" %>
            </li>
          <% end %>
        <% end %>
        <li class="nav-item">
          <%= link_to "Dashboard", user_signed_in? ? user_path(current_user) : new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Rankings", players_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Fixtures", fixtures_path, class: "nav-link" %>
        </li>

        <li class="nav-item dropdown" data-controller="navbar-dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-action="click->navbar-dropdown#toggle" data-bs-toggle="dropdown" data-bs-target="#navbarDropDown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "Iwan-Pavord.png", class: "avatar", alt: "Dropdown menu" %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" id="navbarDropDown" aria-labelledby="navbarDropdown" data-navbar-dropdown-target="menu">
            <%# <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a> %>
            <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-menu-text" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
