<div class="home-container" data-controller="scroll-effect">
  <%= video_tag "video.mp4",
     class: "background-video",
     data: { controller: "fade-video" },
     autoplay: true,
     loop: true,
     muted: true,
     playsinline: true %>
  <div class="overlay"></div>
  <div class="content-wrapper">
    <div class="top-text" data-controller="typing">
      <h1 data-typing-target="display"></h1><span class="blinking-cursor"></span>
    </div>
    <%= image_tag 'Untitled design (5).png', alt: 'arrow', class: 'arrow1' %>
    <div class="actions">
      <div class="action-button view-players">
        <%= link_to players_path, class: "action-link" do %>
          <i class="fa fa-eye eye-icon"></i>
          <span class="players-text">View Best Players</span>
         <% end %>
      </div>
    </div>
  </div>

  <div class="action-button login">
   <%= link_to new_user_session_path, class: "action-link" do %>
      <i class="fa-solid fa-chevron-left icon"></i>
      <span class="login-text">Log In</span>
   <% end %>
  </div>

  <div class="scroll1">
    <div class="middle-section">
      <%= image_tag 'homepage1.png', alt: 'homepage1', class: 'homepage1' %>
      <h1>
        With my extensive data sets, you're empowered
        with insights to make data-driven decisions every game week.
      </h1>
    </div>
    <%= image_tag 'Untitled design (3).png', alt: 'arrow', class: 'arrow2' %>
  </div>

  <div class="scroll2">
    <div class="middle-section">
      <h1>
        My custom-built model predicts which players are
        poised to bring you the most points in upcoming matches!
      </h1>
      <%= image_tag 'homepage2.png', alt: 'homepage1', class: 'homepage2' %>
    </div>
    <%= image_tag 'Untitled design (2).png', alt: 'arrow', class: 'arrow3' %>
  </div>

  <div class="scroll3">
    <div class="middle-section">
      <%= image_tag 'homepage3.png', alt: 'homepage1', class: 'homepage3' %>
      <h1>
        I'll spotlight your team's MVPs and identify areas
        for improvement. Every decision shapes your FPL journey.
      </h1>
    </div>
  </div>
</div>
