<div class="container" style="margin-top: 50px;">
    <div class="top-main-card">
      <%= render 'graph_caro' %>
    </div>
</div>

<div class="container">
  <h1>Most selected players in your league</h1>
  <table>
      <tr>
    <th data-tooltip="Most selected player in your league">Rank</th>
    <th data-tooltip="Player's full name">Name</th>
    <th data-tooltip="Ownership of player in your league">League Selection</th>
    <th data-tooltip="Player's position on the field">Position</th>
    <th data-tooltip="The team the player is part of">Team</th>
    <th data-tooltip="Current price of the player">Price</th>
    <th data-tooltip="Player's current form based on recent performance">Form</th>
    <th data-tooltip="Percentage of teams that have selected this player">% Overall Selection</th>
    <th data-tooltip="Difficulty of next 5 matches for this player - higher the number, tougher the fixtures!!">Fixture Difficulty</th>
  </tr>

    <% @player_selections.each_with_index do |player, index| %>
    <tr class="<%= player[0].home_team.short_name.downcase %>">
      <div class="player-info-row"><td><%= link_to "#{index + 1}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{player[0].web_name}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td data-tooltip="<% @ownership["#{player[0].id}"].each do |name| %>
        <%= "#{name}" %>
        <% end %>"><%= link_to "#{player[1]} / #{@league_manager_ids.count}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{player[0].position}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{player[0].home_team.short_name}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "£#{player[0].price}m", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{player[0].form}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{player[0].selected}%", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{player[0].fixture_difficulty}", player_path(player), class:"table-link" %></td></div>
    </tr>
    <% end %>
  </table>
</div>
