<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Position</th>
    <th>Team</th>
    <th>Price</th>
    <th>Form</th>
    <th>% Selected</th>
    <th>Fixture Difficulty</th>
    <th>ICT Index</th>
  </tr>
  <%# need to turn @players to a sorted array of ranked players via our model %>
  <% @ranked.first(10).each_with_index do |player, index| %>
  <tr class="<%= @ranked[index][:team].downcase %>">
    <div class="player-info-row"><td><%= index + 1 %></td></div>
    <div class="player-info-row"><td><%= @ranked[index][:last_name] %></td></div>
    <div class="player-info-row"><td><%= @ranked[index][:position] %></td></div>
    <div class="player-info-row"><td><%= @ranked[index][:team] %></td></div>
    <div class="player-info-row"><td><%= @ranked[index][:price] %></td></div>
    <div class="player-info-row"><td><%= @ranked[index][:form] %></td></div>
    <div class="player-info-row"><td><%= @ranked[index][:selected] %></td></div>
    <div class="player-info-row"><td><%= @ranked[index][:fixture_difficulty] %></td></div>
    <div class="player-info-row"><td><%= @ranked[index][:ict] %></td></div>
  </tr>
  <% end %>
</table>
