<div>
  <%# <div class="slidecontainer" data-controller="slider">
    <input type="range" min="0" max="10" value="5" class="slider" id="myRange" data-action="input->slider#sliderValueChanged">
    <div id="demo" data-slider-target="output"></div>
  </div> %>
  <form action="/players">
    <div class="slider">
      <input type="range" name="sliderValue" class="form-range" min="0" max="10" value="<%= @params[2].nil? ? 5 : @params[2] %>" id="customRange2" list="markers"  oninput="this.nextElementSibling.value = this.value"></b>
      Search the next <output><%= @params[2].nil? ? 5 : @params[2] %></output> fixtures
    </div>
    <div class="slider">
      <input type="range" name="price" class="form-range" min="3.9" max="<%= @max.price %>" step="0.1" value="<%= @params[1].nil? ? 14 : @params[1] %>" id="customRange2" list="markers"  oninput="this.nextElementSibling.value = this.value"></b>
      Filter players under  £<output><%= @params[1].nil? ? 14.1 : @params[1] %></output>m
    </div>
    <div class="search">
      <select name="position">
        <option value="all">Position</option>
        <% ["GKP", "DEF", "MID", "FOR"].each do |pos| %>
        <option value="<%= pos %>"><%= pos %></option>
        <% end %>
      </select>
      <input type="submit" value="Apply">
    </div>
  </form>
</div>

<div class="container">
  Showing
  <% if @params[0] == "DEF" %>
    defenders
  <% elsif @params[0] == "GKP" %>
    goalkeepers
  <% elsif @params[0] == "MID" %>
    midfielders
  <% elsif @params[0] == "FOR" %>
    forwards
  <% else %>
    all players
  <% end %>
  <%= @params[1] == "all" || @params[1].nil? ? "" : "under £#{@params[1]}m"%>
  <table>
    <tr>
  <th data-tooltip="Player's overall ranking in the league">Rank</th>
  <th data-tooltip="Player's full name">Name</th>
  <th data-tooltip="Player's position on the field">Position</th>
  <th data-tooltip="The team the player is part of">Team</th>
  <th data-tooltip="Current price of the player">Price</th>
  <th data-tooltip="Player's current form based on recent performance">Form</th>
  <th data-tooltip="Percentage of teams that have selected this player">% Selected</th>
  <th data-tooltip="Dependent on attacking or defensive strengths of their upcoming opponents">Fixture Difficulty</th>
  <th data-tooltip="Index measuring player's Influence, Creativity, and Threat - a key statistic!">ICT Index</th>
</tr>

    <% @ranked.first(30).reject{ |p| p.form == 0 }.each_with_index do |player, index| %>
    <tr class="<%= @ranked[index].home_team.short_name.downcase %>">
      <div class="player-info-row"><td><%= link_to "#{index + 1}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{@ranked[index].web_name}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{@ranked[index].position}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{@ranked[index].home_team.short_name}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "£#{@ranked[index].price}m", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{@ranked[index].form}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{@ranked[index].selected}%", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{@params[2].nil? ? player.fixtures_array.split("X")[5] : player.fixtures_array.split("X")[@params[2].to_i]}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{@ranked[index].ict}", player_path(player), class:"table-link" %></td></div>
    </tr>
    <% end %>
  </table>
</div>
