<table>
  <tr></tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Position</th>
    <th>Team</th>
    <th>Price</th>
    <th>Our Rating</th>
    <th>Form</th>
    <th>% Selected</th>
    <th>Fixture Difficulty</th>
    <th>ICT Index</th>

  <%# need to turn @players to a sorted array of ranked players via our model %>
  <% @players.first(10).each_with_index do |player, index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= player.last_name %></td>
    <td><%= player.position %></td>
    <td><%= player.home_team.short_name %></td>
    <td><%= @live_data[index][:price] %></td>
    <td><%= "TODO" %></td>
    <td><%= @live_data[index][:form] %></td>
    <td><%= @live_data[index][:selected] %></td>
    <td><%= "TODO fixture difficulty" %></td>
    <td><%= @live_data[index][:ict] %></td>
  </tr>
  <% end %>
</table>
