<div>
  <%# <div class="slidecontainer" data-controller="slider">
    <input type="range" min="0" max="10" value="5" class="slider" id="myRange" data-action="input->slider#sliderValueChanged">
    <div id="demo" data-slider-target="output"></div>
  </div> %>
  <form action="/players">
    <div class="slider">
      <input type="range" name="position" class="form-range" min="0" max="4" value="<%= @params[0][2] ? @params[0][2] : 4 %>" id="customRange2" list="markers"  oninput="if(this.value == 0) {
        this.nextElementSibling.value = 'goalkeepers'} else if (this.value == 1) {
        this.nextElementSibling.value = 'defenders'} else if (this.value == 2) {
        this.nextElementSibling.value = 'midfielders'} else if (this.value == 3) {
        this.nextElementSibling.value = 'forwards' } else
        this.nextElementSibling.value = 'all players'"></b>
      Search for <output><%= @params[0] == ["all players"] ? "all players" : @params[0][1] %></output>
    </div>
    <div class="slider">
      <input type="range" name="price" class="form-range" min="3.9" max="<%= @max.price %>" step="0.1" value="<%= @params[1].nil? ? 14.1 : @params[1] %>" id="customRange2" list="markers"  oninput="this.nextElementSibling.value = this.value"></b>
       under  £<output><%= @params[1].nil? ? 14.1 : @params[1] %></output>m.
    </div>
    <div class="slider">
      <input type="range" name="sliderValue" class="form-range" min="0" max="10" value="<%= @params[2].nil? ? 5 : @params[2] %>" id="customRange2" list="markers"  oninput="this.nextElementSibling.value = this.value"></b>
      Include the next <output><%= @params[2].nil? ? 4 : @params[2] %></output> fixtures
    </div>
    <div class="search">
      <input type="submit" value="Apply">
    </div>
  </form>
</div>

<div class="container">
  Showing
  <% if @params[0][0] == "DEF" %>
    defenders
  <% elsif @params[0][0] == "GKP" %>
    goalkeepers
  <% elsif @params[0][0] == "MID" %>
    midfielders
  <% elsif @params[0][0] == "FOR" %>
    forwards
  <% else %>
    all players<%= @params[1].nil? ? "," : "" %>
  <% end %>
  <%= @params[1] == "all" || @params[1].nil? ? "" : "under £#{@params[1]}m,"%> looking <%= @params[2].nil? ? 4 : @params[2] %> fixtures ahead

  <table>
    <tr class="sticky-top">
  <th data-tooltip="Player's overall ranking in the league">Rank</th>
  <th data-tooltip="Player's full name">Name</th>
  <th data-tooltip="Player's position on the field">Position</th>
  <th data-tooltip="The team the player is part of">Team</th>
  <th data-tooltip="Current price of the player">Price</th>
  <th data-tooltip="Percentage of teams that have selected this player">% Selected</th>
  <th data-tooltip="Index measuring player's Influence, Creativity, and Threat - a key statistic!">ICT Index</th>
  <% unless @params[2] == "0" %><th data-tooltip="Dependent on attacking or defensive strengths of their upcoming (n) opponents">Fixture Difficulty</th><% end %>
  <th data-tooltip="Player's current form based on recent performance">Form</th>
</tr>

    <% @ranked.first(30).reject{ |p| p.form == 0 }.each_with_index do |player, index| %>
    <tr class="<%= player.home_team.short_name.downcase %>">
      <div class="player-info-row"><td><%= link_to "#{index + 1}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{player.web_name}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{player.position}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{player.home_team.short_name}", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "£#{player.price}m", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{player.selected}%", player_path(player), class:"table-link" %></td></div>
      <div class="player-info-row"><td><%= link_to "#{player.ict}", player_path(player), class:"table-link" %></td></div>
      <% unless @params[2] == "0" %><div class="player-info-row"><td><%= link_to "#{ @params[2].nil? ? "#{(player.calc_fixture_two(4) * 100).round}%" : "#{(player.calc_fixture_two(@params[2].to_i) * 100).round}%" }", player_path(player), class:"table-link" %></td></div><% end %>
      <div class="player-info-row"><td><%= link_to "#{player.form}", player_path(player), class:"table-link" %></td></div>
    </tr>
    <% end %>
  </table>
</div>
