<div>
  <form action="/players">
    <select name="price">
      <option value="all">Max Price</option>
      <% (39..140).to_a.map { |p| p.to_f / 10 }.each do |price| %>
      <option value="<%= price %>">£<%= price %>m</option>
      <% end %>
    </select>
    <select name="position">
      <option value="all">Position</option>
      <% ["GKP", "DEF", "MID", "FOR"].each do |pos| %>
      <option value="<%= pos %>"><%= pos %></option>
      <% end %>
    </select>
    <input type="submit">
  </form>
</div>

<div class="container">
  <table>
    <tr>
  <th data-tooltip="Player's overall ranking in the league">Rank</th>
  <th data-tooltip="Player's full name">Name</th>
  <th data-tooltip="Player's position on the field">Position</th>
  <th data-tooltip="The team the player is part of">Team</th>
  <th data-tooltip="Current price of the player">Price</th>
  <th data-tooltip="Player's current form based on recent performance">Form</th>
  <th data-tooltip="Percentage of teams that have selected this player">% Selected</th>
  <th data-tooltip="Difficulty of upcoming matches for this player - higher the number, tougher the fixtures!!">Fixture Difficulty</th>
  <th data-tooltip="Index measuring player's Influence, Creativity, and Threat - a key statistic!">ICT Index</th>
</tr>

    <% @ranked.first(10).each_with_index do |player, index| %>
    <tr class="<%= @ranked[index].home_team.short_name.downcase %>">
      <div class="player-info-row"><td><%= index + 1 %></td></div>
      <div class="player-info-row"><td><%= @ranked[index].web_name %></td></div>
      <div class="player-info-row"><td><%= @ranked[index].position %></td></div>
      <div class="player-info-row"><td><%= @ranked[index].home_team.short_name %></td></div>
      <div class="player-info-row"><td><%= @ranked[index].price %></td></div>
      <div class="player-info-row"><td><%= @ranked[index].form %></td></div>
      <div class="player-info-row"><td><%= @ranked[index].selected %>%</td></div>
      <div class="player-info-row"><td><%= @ranked[index].fixture_difficulty %></td></div>
      <div class="player-info-row"><td><%= @ranked[index].ict %></td></div>
    </tr>
    <% end %>
  </table>
</div>
