<div class="container" id="margin-bottom">
  <div class="inline">
    <%= image_tag @player.home_team.image_path, height: 50, width: 50 %>
    <h1><%= @player.first_name %> <%= @player.last_name %></h1>
    <h1 class="player-position"><%= @player.full_position %></h1>
  </div>
  <div class="inline">
    <div>
      <h2>Stats</h2>
      <div class="stat-card">
        <span class="counter" data-controller="counter"
              data-counter-end-value="<%= @player.goals %>"
              data-counter-duration-value="3000"
              data-counter-target="display">
              0</span>
        <span>Goals</span>
      </div>
      <div class="stat-card">
        <span class="counter" data-controller="counter"
              data-counter-end-value="<%= @player.assists %>"
              data-counter-duration-value="3000"
              data-counter-target="display">
              0</span>
        <span>Assists</span>
      </div>
      <div class="stat-card">
        <span class="counter" data-controller="counter"
              data-counter-end-value="<%= (@player.minutes.to_f / @current_gw).round(1) %>"
              data-counter-duration-value="3000"
              data-counter-target="display">
              0</span>
        <span>Average Minutes</span>
      </div>
      <div class="stat-card">
        <span class="counter" data-controller="counter"
              data-counter-end-value=""
              data-counter-duration-value="3000"
              data-counter-target="display"><%= @player.expected_goal_involvements %>
              </span>
        <span>Goal Involvements per 90</span>
      </div>
      <div class="stat-card">
        <span class="counter" data-controller="counter"
              data-counter-end-value="<%= @player.general_score %>"
              data-counter-duration-value="3000"
              data-counter-target="display">
              0</span>
        <span>Rating</span>
      </div>
    </div>

    <div>
      <h2>Form</h2>
      <% @previous_three_data.each do |match| %>
      <div class="form-card">
        <div>
          <%= image_tag HomeTeam.find(match[:opponent]).image_path, height: 40, width: 35 %>
        </div>
        <div>
          <p><%= match[:points] %> points</p>
          <p><%= match[:minutes] %> minutes</p>
          <% unless match[:goals].zero? %>
            <p><%= match[:goals] %> goals</p>
          <% end %>
          <% unless match[:assists].zero? %>
            <p><%= match[:assists] %> assists</p>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <div>
      <h2>Attributes</h2>
    </div>
  </div>
</div>

<div class="container">
  <h1>Fixture Calendar</h1>
  <div class="calender">
    <%= month_calendar(events: @all_fixtures) do |date, fixtures| %>
      <%= date.day %>
      <% fixtures.each do |fixture| %>
        <div>
          <% if fixture.home_team == @player.home_team %>
            <%= image_tag fixture.away_team.image_path, width: 20, height: 20%>(H)
          <% else %>
            <%= image_tag fixture.home_team.image_path, width: 20, height: 20 %>(A)
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
