<div class="container" id="margin-bottom">
  <div class="inline-1">
    <%= image_tag @player.home_team.image_path, height: 50, width: 50, class: "show-badge"%>
    <h1 class="player-name"><%= @player.first_name.upcase %> <%= @player.last_name.upcase %></h1>
    <h1 class="player-position"><%= @player.full_position %></h1>
  </div>

  <div class="inline-2">
    <div class="stats-card">
      <h2>STATS</h2>
      <div class="info-cards">
        <div class="card colour">
          <span class="counter" data-controller="counter"
                data-counter-end-value="<%= @stats[0][1] %>"
                data-counter-duration-value="3000"
                data-counter-target="display">
                0</span>
          <span><%= @stats[0][0] %></span>
        </div>
        <div class="card">
          <span class="counter" data-controller="counter"
                data-counter-end-value="<%= @stats[1][1] %>"
                data-counter-duration-value="3000"
                data-counter-target="display">
                0</span>
          <span><%= @stats[1][0] %></span>
        </div>
        <div class="card">
          <span class="counter" data-controller="counter"
                data-counter-end-value="<%= @stats[2][1] %>"
                data-counter-duration-value="3000"
                data-counter-target="display">
                0</span>
          <span><%= @stats[2][0] %></span>
        </div>
        <div class="card">
          <span class="counter" data-controller="counter"
                data-counter-end-value="<%= @stats[3][1] %>"
                data-counter-duration-value="3000"
                data-counter-target="display">
                0</span>
          <span>GW Transfers Out</span>
        </div>
        <div class="card">
          <span class="counter" data-controller="counter"
                data-counter-end-value="<%= @stats[4][1] %>"
                data-counter-duration-value="3000"
                data-counter-target="display">
                0</span>
          <span>GW Transfers In</span>
        </div>
        <div class="card">
          <span class="counter" data-controller="counter"
                data-counter-end-value="<%= @stats[5][1] %>"
                data-counter-duration-value="3000"
                data-counter-target="display">
                0</span>
          <span>Rating</span>
        </div>
      </div>
    </div>

  <div class="larger-form-card">
    <h2>RECENT GAMES</h2>
    <% @previous_three_data.reverse.each do |match| %>
      <div class="form-card">
        <%= image_tag HomeTeam.find(match[:opponent]).image_path, height: 40, width: 35 %>
        <span class="ellipsis">...</span>
        <div class="form-card-info">
          <p class="points"><%= match[:points] %> POINTS</p>
          <p class="minutes"><%= match[:minutes] %> MINUTES</p>
          <% unless match[:goals].zero? %>
            <p class="goals"><%= match[:goals] %> GOALS</p>
          <% end %>
          <% unless match[:assists].zero? %>
            <p class="assists"><%= match[:assists] %> ASSISTS</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

   <% if @player.attributes(@current_gw).present? %>
    <div class="attr-card">
      <h1>ATTRIBUTES</h1>
      <% @player.attributes(@current_gw).each do |att| %>
         <% if att == "Top 10 This Season" %>
          <div class="attribute-box">
            <i class="fa-solid fa-ranking-star fa-xl"></i>
            <h2><%= att %></h2>
            <span></span>
          </div>
         <% elsif att == "Top 10 Last Season" %>
          <div class="attribute-box">
            <i class="fa-solid fa-star fa-xl"></i>
            <h2><%= att %></h2>
            <span></span>
          </div>
         <% elsif att == "Penalty Taker" %>
          <div class="attribute-box">
            <i class="fa-solid fa-crosshairs fa-xl"></i>
            <h2><%= att %></h2>
            <span></span>
          </div>
         <% elsif att == "Free Kick Taker" %>
          <div class="attribute-box">
            <i class="fa-regular fa-futbol fa-xl"></i>
            <h2><%= att %></h2>
            <span></span>
          </div>
         <% elsif att == "Regular Game Time" %>
          <div class="attribute-box">
            <i class="fa-solid fa-clock fa-xl"></i>
            <h2><%= att %></h2>
            <span></span>
          </div>
         <% end %>
      <% end %>
    </div>
      <% else %>
    <div class="attr-card">
      <h1>No Attributes!</h1>
     <% end  %>
    </div>
  </div>
</div>

<div class="container">
  <div class="calender">
    <%= month_calendar(events: @all_fixtures) do |date, fixtures| %>
      <%= date.day %>
      <% fixtures.each do |fixture| %>
        <div>
          <% if fixture.home_team == @player.home_team %>
            <%= image_tag fixture.away_team.image_path, width: 20, height: 20%>(H)
          <% else %>
            <%= image_tag fixture.home_team.image_path, width: 20, height: 20 %>(A)
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
