<div class="container" id="margin-bottom">
  <div class="inline">
    <%= image_tag @player.home_team.image_path, height: 50, width: 50 %>
    <h1><%= @player.first_name %> <%= @player.last_name %></h1>
    <div class="player-position"><p><%= @player.full_position %></p></div>
  </div>
  <div class="inline">
    <div>
      <h2>Stats</h2>
      <ul>
        <li><%=  %>Goals</li>
        <li><%=  %>Assists</li>
        <li>Averages <%= (@player.minutes.to_f / @current_gw).round(1) %> minutes per GW</li>
        <li><%= @player.expected_goal_involvements %> goal involvements per 90: </li>
        <li></li>
      </ul>
    </div>
    <div>
      <h2>Form</h2>
    </div>
    <div>
      <h2>Attributes</h2>
    </div>
  </div>
</div>

<div class="container">
  <h1>Fixture Calendar</h1>
  <div class="calender">
    <%= month_calendar(events: @all_fixtures) do |date, fixtures| %>
      <%= date.day %>
      <% fixtures.each do |fixture| %>
        <div>
          <% if fixture.home_team == @player.home_team %>
            <%= image_tag fixture.away_team.image_path, width: 20, height: 20%>(H)
          <% else %>
            <%= image_tag fixture.home_team.image_path, width: 20, height: 20 %>(A)
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
