<!DOCTYPE html>
<html>
  <head>
    <title>FPLBOT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <%= javascript_importmap_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <% unless params[:action] == "home" %>
      <%= render "pages/navbar" %>
    <% end %>
    <%= yield %>
  </body>
</html>
